#clock li, #clock2 li {
display:inline;
color:#333333;
font-size:11px;
font-weight:bold;
}
#clock, #clock2 {
padding-left: 0;
margin: 5px 0;
}
.title {
color:#333333;
font-size:11px;
font-weight:bold;
margin: 0 10px;
}

.digital {
background: url("../images/clockface55.png") no-repeat scroll center center #d40503;
border: 2px solid #aaa;
border-radius: 9px;
box-shadow: 3px 3px 2px #aaa;
height: 50px;
list-style: none outside none;
margin: auto;
padding: 5px 0 5px 10px;
position: absolute;
right: 15px;
top: -1px;
width: 200px;

}

.digital .hour,.digital .min,.digital .sec,.digital .meridiem{
	color:#fff;
	font-size:30px;
	font-weight:bold;
	float:left;
	margin-left:5px;
		
}

